<div class="all">
    <div class="top">
        <h1 class="title"> ONE TAP <mat-icon>touch_app</mat-icon></h1> 
    </div>
    <div class="middle">
        <h1 class="para" >
           
            <span>To</span>&nbsp;
            <span>Predict</span>&nbsp;
            <span>The</span>&nbsp;
            <span>Future</span>&nbsp;
        </h1>
        <button mat-button routerLink="login" class="button">
            Welcome<mat-icon>touch_app</mat-icon>
        </button>
        
    </div>
</div>